<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span>Event</span> {{ event.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ event.name }}</span>
                </dd>
                <dt><span>Event Details</span></dt>
                <dd>
                    <div *ngIf="event.eventDetailsId">
                        <a [routerLink]="['/event-details', event.eventDetailsId, 'view']">{{ event.eventDetailsId }}</a>
                    </div>
                </dd>
                <dt><span>Event Category</span></dt>
                <dd>
                    <div *ngIf="event.eventCategoryId">
                        <a [routerLink]="['/event-categories', event.eventCategoryId, 'view']">{{ event.eventCategoryId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
